# Ignore everything by default
/*

!.gitignore
!README.md
!update-mods.sh
!update-mods.ps1
!update-mods.bat
!Minecraft/
Minecraft/*
!Minecraft/mods/
!Minecraft/config/
Minecraft/config/spark/tmp-client/spark-*.tmp
